# Custom Environment and Secrets
.env

# Testing libraries
test.py

# Python Cache and Compilation Files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
cache/

# Virtual Environments
venv/
.venv/
env/

# Data and Documents (To prevent uploading massive or private PDFs)
*.pdf

# Images
Images/*
!Images/context_relevance.png
!Images/groundedness.png
!Images/answer_relevance.png
!Images/example.png